@import "./var/colors";
@import "./var/fonts";
@import "./mixins/index";
//Importing the layouts
@import "./layout/index";

//Importing Pages
@import "./pages/index";

html,
body {
  font-family: Montserrat;
}
body {
  padding: 2em;
  min-height: calc(100vh - 2em);
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-size: cover;
  color: $black;
  display: grid;
  background-color: $primary;
  @include sm {
    font-size: 14px;
    padding: 10px;
  }
}
main {
  grid-row: span 2;
  // padding: 2em 0;
}
