@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* --------------------------------------------------------
version: 1.0
last modified: 24.2.2020 by anjit
author: Anjit Pariyar	
email: anjitpariyar@gmail.com
github: https://github.com/anjitzero
----------------------------------------------------------*/
$font--lg: 1.8em;
$font--md: 18px;
$font--sm: 1em;
