.para {
  font-size: 1em;
  color: $white;
}
.text--center {
  text-align: center;
}
.link {
  color: $white;
  text-decoration: none;
  //   &:hover {
  //     color: $primary;
  //   }
}
.container {
  width: 1300px;

  margin: auto;
  @include resp-cust(1320px) {
    width: 90%;
  }
  @include sm {
    width: 100%;
  }
}
.tooltip {
  position: absolute;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  svg {
    height: 1.4em;
    width: auto;
  }
  &:hover {
    .tooltip--para {
      display: block;
    }
  }
  .tooltip--para {
    background-color: $black;
    color: $secondary;
    display: none;
    position: absolute;
    max-width: 300px;
    width: max-content;
    white-space: normal;
    padding: 0.4em 1em;
    border-radius: 5px;
    margin: 0;
    font-size: 0.8em;
  }
}

.section--title {
  font-size: $font--lg;
  font-weight: bold;
  color: $white;
}
.title {
  color: $black;
  font-size: $font--md;
  line-height: 1.5;
}

p.text {
  color: $black;
}

grid {
  display: grid;
}
card {
  display: flex;
}

.img--gyre {
  height: 60px;
  width: auto;
}
.center {
  text-align: center;
}
.hide {
  display: none !important;
}

.progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: 0;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease;
    width: 0;
    animation: progress 5s linear 0.3s 1 forwards;
    &.restart {
      animation: none !important;
      width: 0;
    }
    &.sucess {
      width: 100% !important;
      background-color: #38d917;
    }
    &.error {
      background-color: #f04444;
      animation-play-state: paused;
    }
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
