footer {
  .link--wrapper {
    // background-color: #5c9dd72e;
    padding: 2em 4em;
    display: flex;
    justify-content: flex-start;
    gap: 4em;
    align-items: center;
    .link {
      color: $white;
    }
    @include sm {
      padding: 1em 0;
      gap: 1em;
    }
  }
  .social {
    margin-left: auto;
    display: flex;
    gap: 1em;
    align-items: center;
    svg {
      height: 1.5em;
      width: auto;
    }
    img {
      height: 2.2em;
      width: auto;
    }
  }
}

body {
  display: none;
}
