{% extends 'layout/_layout.twig' %} {% block title %} NRN The Singer | Audition
Open{% endblock %} {% block javascripts %} {% endblock %} {% block contents %}
<main class="page--home quiz--home">
  <div class="wrapper">
    <h2 class="section--title">Audition Open</h2>

    <div class="btn--center">
      <button class="btn active" onclick="window.location='./audition'">
        Apply Now
      </button>
    </div>
    <div>
      <p class="para">powered by gyre</p>
      <img src="./img/gyre.png" alt="gyre" class="img--gyre" />
    </div>
  </div>
</main>
{% endblock %}
