{% extends 'layout/_layout.twig' %} {% block title %} Spell Bee - Thanks for
your Patience and diligence. {% endblock %} {% block javascripts %} {% endblock
%} {% block contents %}
<main class="page--quiz quiz--complete">
  <div class="wrapper">
    <h2 class="title">
      Dear Sanjay, Your audition ID is 2078012AXZ. Thank you for your
      participation in audition of Nepal Spell Bee 2078.
    </h2>
    <h2 class="section--title">Thanks for your Patience and diligence.</h2>
  </div>
  <div class="btn--center">
    <button type="submit" class="btn" onclick="window.location.href='./index'">
      Back to Home
    </button>
  </div>
</main>
{% endblock %}
