<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://www.nrnthesinger.com/shows/618940.png"
      type="image/png"
      sizes="32x32"
    />
    <meta name="theme-color" content="#e8d800" />
    <!-- CSS only -->
    <link href="css/normalize.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    {% block stylesheets %}{% endblock %} {# {% block javascripts %}{% endblock
    %} #}
  </head>
  <body>
    {% include "_header.twig" %}{% block contents %}{% endblock %} {% include
    "_footer.twig" %} {% include "_modal.twig" %}
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
