<modal class="modal modal--about" id="modal--about">
  <div class="modal--wrapper">
    <div class="modal--title">
      <h2 class="section--title">About</h2>
      <a href="#!" class="close"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x-lg"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"
          /></svg
      ></a>
    </div>
    <div class="modal--body">
      <div class="card">
        <p class="para">
          NRN THE SINGER will be one main flagship event of NRNA in global
          Level. As said the main objective of this project is to give the
          actual honor to talent and facilitate artist to won this fame.
        </p>
        <img
          src="https://www.nrnthesinger.com/frontend/images/logo.png"
          alt="logo of NRN the singer"
        />
      </div>
    </div>
  </div>
</modal>
<modal class="modal modal--judge" id="modal--judge">
  <div class="modal--wrapper">
    <div class="modal--title">
      <h2 class="section--title">Judges</h2>
      <a href="#!" class="close"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x-lg"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"
          /></svg
      ></a>
    </div>
    <div class="modal--body">
      <grid>
        <card>
          <div class="card__img">
            <img
              src="https://www.nrnthesinger.com/judges/429319.jpeg"
              alt="Shambhujeet Baskota"
            />
          </div>
          <div class="card__body">
            <h2 class="card__title">Shambhujeet Baskota</h2>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              quisquam.
            </p>
          </div>
        </card>
        <card>
          <div class="card__img">
            <img
              src="https://www.nrnthesinger.com/judges/503900.jpeg"
              alt="Shambhu Rai"
            />
          </div>
          <div class="card__body">
            <h2 class="card__title">Shambhu Rai</h2>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              quisquam.
            </p>
          </div>
        </card>
        <card>
          <div class="card__img">
            <img
              src="https://www.nrnthesinger.com/judges/802762.jpeg"
              alt="Sharmila Bardewa"
            />
          </div>
          <div class="card__body">
            <h2 class="card__title">Sharmila Bardewa</h2>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              quisquam.
            </p>
          </div>
        </card>
        <card>
          <div class="card__img">
            <img
              src="https://www.nrnthesinger.com/judges/416521.jpeg"
              alt="Jiwa Lamichhane"
            />
          </div>
          <div class="card__body">
            <h2 class="card__title">Jiwa Lamichhane</h2>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              quisquam.
            </p>
          </div>
        </card>
      </grid>
    </div>
  </div>
</modal>
<div class="modal--backdrop" id="modal--backdrop"></div>
